body{
    background-image: url(../image/sky.svg);
    background-size: cover;
}
#big {
    background-image: url(../image/bigballon.svg);
    background-repeat: no-repeat;
    height: 2000px;
    width: 1000px;
    background-size: contain;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 30%;
}

#group1 {
    top: 200px;
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 70%;
}

#ballon1 {
    height: 100%;
    width: 100%;
}

#group2 {
    top: 200px;
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 70%;
}

#ballon2 {
    height: 100%;
    width: 100%;
}