body{
    background-image: url(../image/sky.svg);
    background-size: cover;
}
#big {
    background-image: url(../image/bigballon.svg);
    background-repeat: no-repeat;
    height: 200px;
    width: 100px;
    background-size: contain;
    margin: 0px;
    position: absolute;
    left: 500px;
    top: 300px;
}

#group1 {
    top: 0px;
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 70%;
}

#ballon1 {
    height: 100%;
    width: 100%;
}

#group2 {
    top: 100px;
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 70%;
}

#ballon2 {
    height: 100%;
    width: 100%;
}