body {
    background-color: rgb(176, 176, 255);
}

#big {
    position: absolute;
    top: 700px;
    left: 3000px;
}

#bg1 {
    height: 2000px;
}
#bg2 {
    height: 2000px;
}

#ballon1 {
    position: absolute;
    left: 500px;
    top: 200px;
    height: 2000px;
}

#ballon2 {
    position: absolute;
    left: 500px;
    top: 200px;
    height: 2000px;
}